$themeOneBack:#3b4664;
$themeOneCalc:#252d44;
$themeOneToggle:#252c45;
$themeOneToggleBefore:#fc6a5a;
$themeOneButton:#eae3db;
$themeOneButtonShadow:#b3a296;
$themeOneButtonHover:#ffffff;
$themeOneScreen:#181f32;
$themeOneEqual:#d13f30;
$themeOneSpecialButton:#647299;
$themeOneFont:#444e58;

$themeTwoBack:#e6e6e6;
$themeTwoCalc:#d3cdcd;
$themeTwoButton:#e5e4e0;
$themeTwoButtonHover:#ffffff;
$themeTwoScreen:#eeeeee;
$themeTwoEqual:#f86a04;
$themeTwoSpecialButton:#196167;
$themeTwoFont:#000000;
$themeTwoToggle:#d3cdcd;
$themeTwoToggleBefore:#ff8833;
$themeTwoButtonShadow:#a59d92;

$themeThreeBack:#17062a;
$themeThreeCalc:#1e0836;
$themeThreeButton:#331b4d;
$themeThreeButtonHover:#8631ae;
$themeThreeScreen:#1e0836;
$themeThreeEqual:#00decf;
$themeThreeSpecialButton:#56077c;
$themeThreeFont:#fce738;
$themeThreeToggleBefore:#01dbd5;
$themeThreeToggle:#1f0736;
$themeThreeButtonShadow:#851f9d;

